.search {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBox {
  height: 70%;
  width: 90%;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgba(128, 128, 128, 0.377);
  color: rgba(116, 113, 113, 0.329);
  font-family: Amatic SC;
  font-weight: 700;
}

.searchBox:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.89);
}

.position {
  position: relative;
  left: -7.3%;
  cursor: pointer;
  color: rgba(12, 146, 187, 0.781);
}
